<%= form_with(model: [:admin, user, project], local: true) do |form| %>

  <% if project.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "プロジェクト名", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="w-100 d-flex justify-content-center mt-3">
    <%= form.submit "登録", class: "btn btn-outline-dark" %>
  </div>

<% end %>