<%= form_with(model: [:admin, user], local: true) do |form| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "名前", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :email, "メールアドレス", class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div>
    <%= form.label :password, "パスワード", class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div>
    <%= form.label :password_confirmation, "パスワード(確認用)", class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>
  
  <% if user.id.present? %>
    <% if user.position == 1 %>
    <% else %>
      <div> 
        <%= form.label :admin, "管理者権限", class: "form-check-label" %>
        <%= form.check_box :admin, class: "form-check-input" %>
      </div>

      <%= form.hidden_field :position, value: 2 %>
    <% end %>
  <% else %>
    <div> 
      <%= form.label :admin, "管理者権限", class: "form-check-label" %>
      <%= form.check_box :admin, class: "form-check-input" %>
    </div>

    <%= form.hidden_field :position, value: 2 %>
  <% end %>
  

  <div class="w-100 d-flex justify-content-center mt-3">
    <%= form.submit "登録", class: "btn btn-outline-dark" %>
  </div>

<% end %>